.companies {
}
.companies__container {
}
.companies__title {
  margin-bottom: 80px;
}
.companies__title:not(:last-child) {
  margin-bottom: 80px;
}

.companies__items {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  flex-wrap: wrap;
}

.companies__item {
}

@media (max-width: 991.98px) {
  .companies__title:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .companies__title:not(:last-child) {
    margin-bottom: 48px;
  }
}
